<template>
    <nuxt-link :to="postLink" class="post-preview">
        <article>
            <div class="post-thumbnail"
                 :style="{backgroundImage: 'url(' + thumbnail + ')'}"></div>
            <div class="post-content">
                <h1>{{ title }}</h1>
                <p>{{ previewText }}</p>
            </div>
        </article>
    </nuxt-link>
    <!--style="background-image: url('https://images.pexels.com/photos/264109/pexels-photo-264109.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"></div>-->

</template>

<script>
    export default {
        name: "PostPreview",
        props: {
            id: {
                type: String,
                required: true
            },
            isAdmin: {
                type: Boolean,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            previewText: {
                type: String,
                required: true
            },
            thumbnail: {
                type: String,
                required: true
            }
        },
        computed: {
            postLink(){
                return this.isAdmin ? '/admin/' + this.id : '/posts/' + this.id;
            }
        }
    }
</script>

<style scoped>
.post-preview {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 2px #ccc;
    -moz-box-shadow: 0 2px 2px #ccc;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    width: 90%;
}
a {
    text-decoration: none;
    color: black;
}
@media (min-width: 850px) {
    .post-preview {
        width: 400px;
        margin: 10px;
    }
}
.post-thumbnail{
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.post-content {
    padding: 10px;
    text-align: center;
}
a:hover .post-content,
a:active .post-content {
    background-color: #ccc;
}
</style>