<template>
    <div class="admin-new-post-page">
        <section class="new-post-form">
            <AdminPostForm @submit="onSubmitted"/>
        </section>
    </div>
</template>

<script>
    import axios from 'axios'
    import AdminPostForm from '~/components/Admin/AdminPostForm.vue'

    export default {
        layout: 'admin',
        middleware: ['check-auth', 'auth'],
        components: {
            AdminPostForm
        },
        methods: {
            onSubmitted(postData) {
                this.$store.dispatch('addPost', postData).then(() => this.$router.push('/admin'))
                this.$axios.$post('https://nuxt-blog-1e79a.firebaseio.com/posts.json', {
                    ...postData,
                    updatedDate: new Date()
                })
                .then(result => this.$router.push('admin'))
                .catch(e => console.log(e))
            }
        }
    }
</script>

<style scoped>
    .admin-new-post-page {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .new-post-form {
        width: 90%;
        margin: 20 px auto;
    }

    @media (min-width: 768px) {
        .new-post-form {
            width: 500px;
        }
    }
</style>