<template>
    <div class="input-control">
        <label><slot /></label>
        <input
            v-if="controlType === 'input'"
            v-bind="$attrs"
            :value="value"
            @input="$emit('input', $event.target.value)">
        <textarea
            v-if="controlType === 'textarea'"
            rows="10"
            :value="value"
            @input="$emit('input', $event.target.value)"></textarea>
    </div>
</template>

<script>
    export default {
        name: "AppControlInput",
        props: {
            controlType: {
                type: String,
                default: 'input'
            },
            value: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>
    .input-control {
        margin-bottom: 0.6rem;
    }
    label {
        display: block;
        font-weight: bold;
    }
    input {
        padding: 5px 0;
        border: 1px solid #ccc;
        width: 100%;
    }
    textarea {
        width: 100%;
        font-size: 1.2rem;

    }
</style>