html, body {
    margin: 0;
}
.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}