<template>
    <div class="admin-auth-page">
        <div class="auth-container">
            <form @submit.prevent="onSubmit">
                <AppControlInput type="email" v-model="email">E-Mail Address</AppControlInput>
                <AppControlInput type="password" v-model="password">E-Mail Address</AppControlInput>
                <AppButton type="submit">{{ isLogin ? 'Login' : 'Sign Up' }}</AppButton>
                <AppButton
                    type="button"
                    btn-style="inverted"
                    style="margin-left: 10px"
                    @click="isLogin = !isLogin">Switch to {{ isLogin ? 'Signup' : 'Login'}}</AppButton>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        layout: 'admin',
        name: "AdminAuthPage",
        data() {
            return {
                isLogin: true,
                email: '',
                password: ''
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch('authenticateUser', {
                    isLogin: this.isLogin,
                    email: this.email,
                    password: this.password
                })
                .then(() => {
                    this.$router.push('/admin');
                })
            }
        }
    }
</script>

<style scoped>
    .admin-auth-page {
        padding: 20px;
    }
    .auth-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 2px #ccc;
        -moz-box-shadow: 0 2px 2px #ccc;
        box-shadow: 0 2px 2px #ccc;
        width: 300px;
        margin: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>