<template>
    <div class="about-page">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laboriosam!</p>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>
    .about-page {
        text-align: center;
        padding: 30px;
    }
</style>